doctype html
html(lang=it)
  head
    title Service detail
    link(rel="stylesheet" href="CSS/serviceDetails.css")
    link(rel="stylesheet" href="CSS/datatables.min.css")
    script(src="js/jquery.min.js")
    script(src="js/datatables.min.js")
    script(src="https://code.highcharts.com/highcharts.js")
    script(src="js/serviceDetailsCharts.js")
    script(src="js/table.js")
    script.
      $(function(){
        var abi='#{abi}';
        var url="/serviceDetailJSON?";
        var setUpOptionsChart=function(serviceName){
          switch (serviceName) {
            case 'Ticket':
              $("#sub1").text("Ticket aperti");
              return{title:"",renderTo:"chart1",category:'periodo',series:[{name:"totale", type:"column"},{name:"media_giorno",opposite:true}]};
            case 'FEAfirmati':
              $("#sub1").text("FEA firmati");
              return {title:"",renderTo:"chart1",category:"data",series:[{name:"regolari"},{name:"errori",opposite:true},{name:"cancellati",opposite:true},{name:"revocati",opposite:true}]}
            case 'CBI':
              $("#sub1").text("Volumi CBI");
              return {title:'',renderTo:"chart1",category:"data",series:[{name:"login"},{name:"bonifici"},{name:"f24"}]};
            case 'HB_Volumi':
                $("#sub1").text("Volumi HB");
                return {title:"",renderTo:"chart1",category:"data",series:[{name:"login"},{name:"bonifici"},{name:"f24"},{name:"estrattoconto"}]};
            case 'HB_Tempi':
                $("#sub2").text("Tempi medi HB (.sec)");
                return {title:"",renderTo:"chart2",category:"data",series:[{name:"login"},{name:"bonifici"},{name:"f24"},{name:"estrattoconto"}]};
            case 'PWS':
                $("#sub1").text("PWS tempi medi & Volumi");
                return {title:"",renderTo:"chart1",category:"data",series:[{name:"hits",type:"column"},{name:"tempo_medio",opposite:true}]};                
          }
        }
        $.getJSON("/getAbiDescription?abi="+abi,function(json){
            $("#title").text(json.description);
        })
        if('#{service}'!="HB"){
          $.getJSON(url+"abi="+abi+"&service="+'#{service}',function(json){
            var options=setUpOptionsChart('#{service}');
            var charts=new ServiceDetailsChart(json,options);
            var table=new  Table("table1",json);
          });}
        else {
          $("#body2").show();
          $.getJSON(url+"abi="+abi+"&service=HB_Volumi",function(json){
            var table=new Table("table1",json);
            var options=setUpOptionsChart("HB_Volumi");
            var charts=new ServiceDetailsChart(json,options);
          });
          $.getJSON(url+"abi="+abi+"&service=HB_Tempi",function(json){
            var table=new Table("table2",json);
            var options=setUpOptionsChart("HB_Tempi");
            var charts=new ServiceDetailsChart(json,options);
          });
        }
      })
    body
      #header
        h3(id="title")
      .subtitle#subtitle1
        h4#sub1
      .body#body1
        .chart#chart1
        .table.datagrid#table1
      .subtitle#subtitle2
          h4#sub2
      .body#body2("hidden=true")
        .chart#chart2
        .table.datagrid#table2
      #footer
